<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/asset/css/style.css">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>업로드</title>
    <link rel="icon" href="/asset/img/icon.png" />
    <link rel="apple-touch-icon" href="/asset/img/icon.png" />
</head>
<body>
    <form action="/upload" method="post"  enctype="multipart/form-data">
        제목 : <input name="title" required><br>
        파일 : <input name="file" type="file" required><br>
        <button type="submit">업로드 하기</button>
    </table>
    </form>
    <button type="button" onclick="window.location.href='/ppt'">뒤로 가기</button>
</body>
<script>
    {{if .failMsg}}
    alert("{{.failMsg}}")
    {{end}}
</script>
</html>